version: "3.8"

services:
  sensor:
    build: ./traffic_sensor_simulator
    container_name: sensor_sim
    network_mode: "host"
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 1.1.1.1


    environment:
      AUTH_URL: "https://172.31.35.24/token"
      KAFKA_BROKER: "172.31.6.99:9092"
      ALLOW_INSECURE_TLS: "true"

    networks:
      - backend

networks:
  backend:
    driver: bridge
