PORT=3000
KAFKA_BROKER=10.0.2.10:9092
PGHOST=10.0.2.20
PGPORT=5432
PGDATABASE=trafico_db
PGUSER=postgres
PGPASSWORD=changeme

# Set to "true" only on branch "insegura" for the SQLi demo
SQLI_DEMO=false
