table inet filter {
    chain output {
        type filter hook output priority 0;
        policy drop;

        ct state established,related accept;

        # RabbitMQ
        tcp dport 5672 ip daddr 172.31.34.135 accept

        # Auth server
        tcp dport 443 ip daddr 172.31.33.47 accept
    }

    chain input {
        type filter hook input priority 0;
        policy drop;

        iif lo accept;
        ct state established,related accept;

        # Permitir websocket u otros puertos internos si tu app expone algo
        # Ejemplo: permitir puerto 3000 si lo usas
        # tcp dport 3000 accept
    }
}
