table inet filter {
    chain output {
        type filter hook output priority 0;
        policy drop;

        ct state established,related accept;

        # RabbitMQ
        tcp dport 5672 ip daddr 172.31.6.99 accept

        # Auth server
        tcp dport 443 ip daddr 172.31.35.24 accept
    }

    chain input {
        type filter hook input priority 0;
        policy drop;

        iif lo accept;
        ct state established,related accept;

        # WebSocket del dashboard
        tcp dport 8080 accept
    }
}
