table ip nat {
    chain postrouting {
        type nat hook postrouting priority 100;
        oif != "docker0" masquerade
    }
}

table inet filter {
    chain input {
        type filter hook input priority filter; policy drop;
        ct state established,related accept
        iifname "lo" accept
        tcp dport 22 accept
        tcp dport 3000 accept
        icmp type echo-request accept
    }

    chain forward {
        type filter hook forward priority filter; policy drop;
        iifname "docker0" accept
        oifname "docker0" accept
        ct state established,related accept
    }

    chain output {
        type filter hook output priority filter; policy drop;
        ct state established,related accept
        oifname "lo" accept
        udp dport 53 accept
        tcp dport 53 accept
        tcp dport 80 accept
        tcp dport 443 accept
        ip daddr 172.31.33.47 tcp dport 8080 accept
        ip daddr 172.31.38.13 tcp dport 5672 accept
        tcp dport 22 accept
        ip protocol icmp accept
    }
}
