#!/usr/sbin/nft -f

flush ruleset

table inet firewall {
    chain input {
        type filter hook input priority 0; policy drop;

        # Conexiones establecidas y relacionadas
        ct state established,related accept
        
        # Loopback
        iif "lo" accept
        
        # ICMP (ping)
        ip protocol icmp accept
        ip6 nexthdr icmpv6 accept
        
        # SSH
        tcp dport 22 accept
        
        # HTTP y HTTPS - Auth Server
        tcp dport { 80, 443 } accept
        
        # Docker networks
        ip saddr { 172.17.0.0/16, 172.18.0.0/16 } accept
    }
    
    chain forward {
        type filter hook forward priority 0; policy drop;
        ct state established,related accept
        iifname "docker0" accept
    }
    
    chain output {
        type filter hook output priority 0; policy accept;
    }
}