table inet filter {
    chain output {
        type filter hook output priority 0;
        policy drop;

        ct state established,related accept;

        # Kafka
        tcp dport 9092 ip daddr 172.31.34.135 accept

        # RabbitMQ
        tcp dport 5672 ip daddr 172.31.34.135 accept

        # Auth server
        tcp dport 443 ip daddr 172.31.33.47 accept

        tcp dport 22 accept
    }

    chain input {
        type filter hook input priority 0;
        policy drop;

        iif lo accept;
        ct state established,related accept;
    }
}
