table inet filter {
    chain input {
        type filter hook input priority 0; policy drop;

        # sistema
        iif lo accept;
        ct state established,related accept;

        ############################
        # SSH - acceso admin
        ############################
        tcp dport 22 accept

        ############################
        # Kafka 9092
        # solo ingest y core pueden escribir/leer
        ############################
        tcp dport 9092 ip saddr { 172.31.37.65, 172.31.34.191 } accept

        ############################
        # RabbitMQ 5672
        # solo core y app consumen
        ############################
        tcp dport 5672 ip saddr { 172.31.34.191, 172.31.47.213 } accept

        ############################
        # Auth 443
        # necesario porque Kafka y RabbitMQ validan tokens
        # ingest, core y app deben poder validar
        ############################
        tcp dport 443 ip saddr { 172.31.37.65, 172.31.34.191, 172.31.47.213 } accept
    }
}
