table inet filter {
    chain input {
        type filter hook input priority 0; policy drop;

        # Sistema
        iif lo accept;
        ct state established,related accept;

        # ICMP
        ip protocol icmp accept;

        # SSH
        tcp dport 22 accept;

        # Kafka
        tcp dport 9092 ip saddr { 172.31.37.65, 172.31.34.191 } accept;

        # RabbitMQ
        tcp dport 5672 ip saddr { 172.31.34.191, 172.31.47.213 } accept;

        # Auth
        tcp dport 443 ip saddr { 172.31.37.65, 172.31.34.191, 172.31.47.213 } accept;

        # Docker bridge (permite tráfico NAT hacia contenedores)
        iifname "docker0" accept;
        iifname "br-2d5295c75d38" accept;
    }
}
