table inet filter {
    chain input {
        type filter hook input priority 0;
        policy drop;

        # Permitir tráfico local (necesario)
        iif lo accept;

        # Permitir respuestas de tráfico ya establecido
        ct state established,related accept;

        # 1. Kafka 9092
        tcp dport 9092 ip saddr { 172.31.37.65, 172.31.34.191 } accept

        # 2. RabbitMQ 5672
        tcp dport 5672 ip saddr { 172.31.34.191, 172.31.47.213 } accept

        # 3. Auth Server 443
        tcp dport 443 ip saddr { 172.31.37.65, 172.31.34.191, 172.31.47.213 } accept
    }
}
