# ===============================
# VM-INGEST - FIREWALL
# Compatible con docker
# ===============================

table inet filter {

    chain input {
        type filter hook input priority filter; policy drop;

        iif "lo" accept;
        ct state established,related accept;

        # SSH
        tcp dport 22 accept;
    }

    chain output {
        type filter hook output priority filter; policy drop;

        oif "lo" accept;
        ct state established,related accept;

        # ---- PERMITIDO ----
        # Kafka → vm-data
        tcp dport 9092 ip daddr 172.31.6.99 accept;

        # Auth → vm-auth
        tcp dport 443 ip daddr 172.31.35.24 accept;

        # DNS
        udp dport 53 accept;
        tcp dport 53 accept;

        # Web: GitHub, DockerHub, npm, curl
        tcp dport 80 accept;
        tcp dport 443 accept;

        # Docker networks
        oifname "docker0" accept;
        oifname "br-*" accept;
    }

    chain forward {
        type filter hook forward priority filter; policy drop;
    }
}

# ===============================
# TABLA PARA DOCKER (iptables-nft)
# Docker NECESITA ESTO
# ===============================

table ip filter {
    chain FORWARD {
        type filter hook forward priority filter; policy accept;
    }
}
