table inet filter {

    # =====================================================
    #  INPUT — vm-ingest NO debe aceptar tráfico entrante
    # =====================================================
    chain input {
        type filter hook input priority 0; policy drop;

        # Permitir loopback
        iif "lo" accept

        # Permitir respuestas a tráficos salientes
        ct state established,related accept

        # No permitir nada más
    }


    # =====================================================
    #  OUTPUT — Only Auth (443) and Kafka (9092)
    # =====================================================
    chain output {
        type filter hook output priority 0; policy drop;

        # Permitir loopback
        oif "lo" accept

        # Permitir conexiones establecidas
        ct state established,related accept

        # Kafka → vm-data
        tcp dport 9092 ip daddr 172.31.6.99 accept

        # Auth Server → vm-auth
        tcp dport 443 ip daddr 172.31.35.24 accept
    }


    # =====================================================
    #  FORWARD — ingest no enruta paquetes
    # =====================================================
    chain forward {
        type filter hook forward priority 0; policy drop;
    }
}
